streamlit==1.38.0
streamlit-chat==0.1.1
streamlit-extras==0.4.3
openai==1.35.14
python-dotenv==1.0.1
langchain==0.2.5
langchain-community==0.2.5
langchain-openai==0.1.8
unstructured==0.14.6
chromadb==0.5.0
tiktoken==0.7.0



